extend layout

block content
	h1= title
	.row
		.col-sm-6.col-sm-offset-3
			p Subread-its
				each a_subredit in post.subreddits
					a.subreddit-link(href="/posts/r/#{a_subredit}")= a_subredit
			
			a.lead(href=post.url)= post.url

	.row
		.col-sm-12
			h3 Summary
			p= post.summary

			h3 Comments
			include particals/_comments
