extends layout

block content
	form(action="/sign-up" method="post")
		.form-group
			label(for='user-username') Username
			br
			input.form-control(type="text" name="username")

			label(for='user-password') Password
			br
			input.form-control(type="password" name="password")

		input(type="submit" value="Submit")